version: '3.8'
services:
  database:
    image: mongo:latest
    container_name: mongo-rpg-demo
    ports:
      - "27017:27017"
    volumes:
      - mongo-data:/data/db
    restart: always

volumes:
  mongo-data: